<div id="graph"></div>

<% content_for :sidepanel do %>
	<%= form_tag("/search_paths", :method => "post", :remote => true, :id => "search") do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search") %>
	<% end %>
<% end %>
