<div id="banner">
  <div class="hero-unit text-center">
    <div id="banner-copy">
      <div id="title">
        <h1>Socrada</h1>
      </div>
      <div id="tagline">
        Social Relationship Data Visualised
      </div>
      <div id="product-description">
        Socrada will help you visualise your social connections and strategize your networking
      </div>
    </div><!-- end of #banner-copy -->
    <div id="central-login">
      <a id="twitter-login" href="/auth/twitter">
        <%= image_tag('login_twitter.png')%>
      </a>
    </div><!-- end of #central-login -->
  </div>
</div>
